.input {
  background-color: var(--background-dark);
  border: 1px solid var(--background-dark);
  border-radius: var(--spacer-quarter);
  color: var(--text);
  font-size: calc(var(--spacer) - var(--spacer-quarter));
  height: calc(var(--spacer) * 2);
  padding: 0 var(--spacer-half);
  transition: background-color 150ms ease-out, border 150ms ease-out;
}
.input::placeholder {
  color: var(--text);
  opacity: .5;
}
.input:focus {
  border: 1px solid var(--accent);
  transition: border 150ms ease-in;
}
.input:hover {
  border: 1px solid var(--accent);
  transition: border 150ms ease-in;
}
.input:disabled {
  background-color: var(--background-light);
  border: 1px solid var(--background-light);
  transition: background-color 150ms ease-in, border 150ms ease-in;
}
