.input {
  background-color: var(--background-dark);
  border: 1px solid var(--background-dark);
  border-radius: var(--spacer-quarter);
  color: var(--text);
  font-size: calc(var(--spacer) - var(--spacer-quarter));
  height: calc(var(--spacer) * 2);
  padding: 0 var(--spacer-half);
  transition: background-color 150ms ease-out, border 150ms ease-out;
  width: 100%;
}
.input::placeholder {
  color: var(--text);
  opacity: .5;
}
.input:focus {
  border: 1px solid var(--accent);
  transition: border 150ms ease-in;
}
.input:hover {
  border: 1px solid var(--accent);
  transition: border 150ms ease-in;
}
.input:disabled {
  background-color: var(--background-light);
  border: 1px solid var(--background-light);
  transition: background-color 150ms ease-in, border 150ms ease-in;
}
.with-spinner {
  position: relative;
}
@keyframes loading {
  0% {
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }
  33% {
    border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
  }
  66% {
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
  }
}
.spinner {
  animation: loading 1s linear infinite;
  border: var(--spacer-half) solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  bottom: var(--spacer-half);
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  right: var(--spacer);
}
