.button {
  background-color: var(--accent);
  border-radius: var(--spacer-quarter);
  color: var(--text-inverted);
  filter: brightness(100%);
  font-size: calc(var(--spacer) - var(--spacer-quarter));
  height: calc(var(--spacer) * 2);
  min-width: calc(var(--spacer) * 8);
  text-transform: uppercase;
  transition: filter var(--transition) ease-out;
}
.button:hover {
  filter: brightness(140%);
  transition: filter var(--transition) ease-in;
}
.link {
  background-color: transparent;
  color: var(--accent);
  height: auto;
  padding: 0;
  transition: color var(--transition) ease-out;
}
.link:hover {
  background-color: transparent;
  color: var(--accent-light);
  transition: color var(--transition) ease-in;
}
