:root {
  --accent: #6210f1;
  --accent-light: #9050ff;
  --input-background: #efefef;
  --text-inverted: #ffffff;
}

button {
  background-color: transparent;
  border: none;
  color: var(--text-inverted);
  cursor: pointer;
  font-size: var(--spacer);
  outline: none;
}

h1 {
  font-size: calc(var(--spacer) * 3);
  font-weight: 200;
}

input, textarea {
  outline: none;
}

.button-negative {
  background-color: var(--error);
}
.button-positive {
  background-color: var(--success);
}

.width {
  min-width: calc(var(--spacer) * 20);
  width: calc(var(--spacer) * 30);
}

.auth-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-width: calc(var(--spacer) * 20);
  padding: var(--spacer) 0;
  width: 100%; 
}
.auth-form {
  display: flex;
  flex-direction: column;
  min-width: calc(var(--spacer) * 20);
}
.auth-error {
  color: var(--error-light);
  height: calc(var(--spacer) * 3);
  opacity: 1;
}
